.searchbar-div {
  margin: 10px;
  display: inline;
}

.input-field {
  border: 1px solid #d9d9d9;
  background: #d9d9d9;
  height: 30px;
  width: 300px;
  margin: 10px;
  text-indent: 10px;
}

.search-button {
  height: 34px;
  border: 1px solid #171717;
  background: #f7f7f7;
  color: #171717;
  font-weight: bold;
}

.search-button:hover {
  cursor: pointer;
}
